<!-- <ngx-graph class="chart-container" [view]="[500, 200]" [links]="[
    {
      id: 'a',
      source: 'first',
    target: 'second',
      label: 'is parent of'
    }, {
      id: 'b',
      source: 'first',
      target: 'third',
      label: 'custom label'
    }
  ]" [nodes]="[
    {
      id: 'first',
      label: 'A'
    }, {
      id: 'second',
      label: 'B'
    }, {
      id: 'third',
      label: 'C'
    }
  ]">
</ngx-graph> -->

<!-- 
<h1>Vertical Chart</h1>
<ngx-charts-chart
[view]="view" 
[scheme]="colorScheme" 
[results]="single" 

(select)="onSelect($event)">
</ngx-charts-bar-vertical> -->
<!--  -->

<!-- <ngx-charts-bar-vertical [view]="view" 
[scheme]="colorScheme"
 [results]="single"
  [gradient]="gradient"
  [xAxis]="showXAxis" 
  [yAxis]="showYAxis" 
   [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel" 
  [xAxisLabel]="xAxisLabel" 
  [yAxisLabel]="yAxisLabel" 
  (select)="onSelect($event)">
</ngx-charts-bar-vertical> -->
<highcharts-chart
   [Highcharts] = "highcharts" 
   [options] = "chartOptions" 
   style = "width: 100%; height: 210px; display: block;">
</highcharts-chart>



<!-- <div class="col">
  <div class="row">
    <h4>
      Vertical Bar Chart
    </h4>
  </div>
  <div class="row">
        <ngx-charts-bar-vertical
        [view]="view"
        [scheme]="colorScheme"
        [results]="single"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        (select)="onSelect($event)">
        </ngx-charts-bar-vertical>
  </div>
</div> -->

<!-- 
<ngx-charts-areaspline-chart [view]="view" [scheme]="colorScheme"
 [results]="single" [gradient]="gradient"
  [xAxis]="showXAxis" [yAxis]="showYAxis" 
  [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" 
  [yAxisLabel]="yAxisLabel" (select)="onSelect($event)">
</ngx-charts-areaspline-chart> -->