<div class="list-wrapper">

    <div class="red-line"></div>
    
    <div class="list-item-wrapper">
        <div class="list-bullet bullet-line-list">1</div>
        <div class="list-item">
            <div class="list-title">This is the top item</div>
            <div class="list-text">The parallels with the alcoholic republic of two hundred years ago are hard to miss. Before the changes in lifestyle, before the clever marketing, comes the mountain of cheap corn. </div>
        </div>
    </div>
    
    <div class="list-item-wrapper">
        <div class="list-bullet">2</div>
        <div class="list-item">
            <div class="list-title">This is an item</div>
            <div class="list-text">But the outcome of our national drinking binge is not nearly as relevant to our own situation as its underlying cause. Which, put simply, was this: American farmers were producing far too much corn. </div>
        </div>
    </div>
    
    <div class="list-item-wrapper">
        <div class="list-bullet">3</div>
        <div class="list-item">
            <div class="list-title">This is the bottom item</div>
            <div class="list-text">In the early years of the nineteenth century, Americans began drinad before or since, embarking on a collective bender that confronted the young republic with its first major public health crisis -- the obesity epidemic of its day. </div>
        </div>
        <div class="white-line"></div>
    </div>
    
</div>



<h5 class="card-title">Updates</h5>
<ul class="bullet-line-list line">
    <li class="list-item-wrapper">
        <div class="list-bullet">2</div>
        <h6>User confirmation</h6>
        <p class="mb-0">Donec rutrum congue leo eget malesuada.</p>
        <p class="text-muted">
            <i class="mdi mdi-clock"></i>
            7 months ago.
        </p>
    </li>
    <li class="list-item-wrapper">
        <div class="list-bullet">2</div>
        <h6>Continuous evaluation</h6>
        <p class="mb-0">Vivamus suscipit tortor eget felis porttitor volutpat.</p>
        <p class="text-muted">
            <i class="mdi mdi-clock"></i>
            7 months ago.
        </p>
    </li>
    <li class="list-item-wrapper">
        <div class="list-bullet">2</div>
        <h6>Promotion</h6>
        <p class="mb-0">Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.</p>
        <p class="text-muted">
            <i class="mdi mdi-clock"></i>
            7 months ago.
        </p>
    </li>
</ul>
